body {
  background-color: black;
}

a {
  color: green; font-style: underline;
}

a:hover {
  cursor: pointer;
}

iframe {
  border-radius: 3.5px;
}

#omex-tv {
  width: 500px;
  height: 500px;
  background-color: blue;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}